@using e_commerce_store.ViewModels
@model IndexOrderViewModel

@{
    ViewData["Title"] = "Orders";
}

@using (Html.BeginForm(Html.BeginForm("Orders", "Dashboard", new { page = 1 }, FormMethod.Get)))
{
    <p>
        Find by name: @Html.TextBox("SearchString")  
        <input type="submit" value="Search" />
    </p>
}

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Total Price</th>
                <th>City</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Orders != null)
            {
                @foreach (var item in Model.Orders)
                {
                    <tr id="row_@item.Id">
                        <td>@item.FirstName @item.LastName</td>
                        <td>@item.Address</td>
                        <td>@item.TotalPrice</td>
                        <td>@item.City</td>
                        <td>@item.Status</td>
                        <td>
                            <div class="btn-group">
                                <a type="button" class="btn btn-sm btn-outline-secondary" asp-controller="Order" asp-action="Detail" asp-route-id="@item.Id">View</a>
                                <a type="button" class="btn btn-sm btn-outline-secondary" asp-controller="Order" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                <a type="button" onclick="deleteOrder('@item.Id')"  class="btn btn-sm btn-outline-secondary">Delete</a>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<div class="row">
    <div class="col-md-12">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                @if (Model.Page > 1)
                {
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("Orders", new {searchString = Model.searchString, page = Model.Page - 1,pageSize = Model.PageSize })">Previous</a>
                    </li>
                }
                @for (int i = 1; i <= Model.TotalPages; i++)
                {
                    <li class="page-item @(i == Model.Page ? "active" : "")">
                        <a class="page-link" href="@Url.Action("Orders", new {searchString = Model.searchString , page = i,  pageSize = Model.PageSize })">@i</a>
                    </li>
                }
                @if (Model.Page < Model.TotalPages)
                {
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("Orders", new {searchString = Model.searchString, page = Model.Page + 1,pageSize = Model.PageSize })">Next</a>
                    </li>
                }
            </ul>
        </nav>
    </div>
</div>

@* <div class="row">
    <div class="col-md-12">
        <a type="button" class="btn btn-primary" asp-controller="Order" asp-action="Create">Add</a>
    </div>
</div> *@


<script>
    function deleteOrder(orderId) {
        var params = 'id='+encodeURIComponent(orderId);
        console.log(params);
        fetch('/Order/Delete', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded'
            },
            body: params
        }).then(function (response) {
            if (response.ok) {
                var row = document.getElementById('row_'+orderId);
                row.remove();
            } else {
                alert('Failed to delete the order.');
            }
        }).catch(function (error) {
            console.error('Error:', error);
        });
    }
</script>